body .navbar {
    background-color: blueviolet;
    color: white;
}

body .nav-link {
    text-decoration: none;
    color: aliceblue;
}

.container {
    margin-left: 20%;
}

h1{
    text-align: center;
}
.dashboard {
    line-height: 3vw;
    margin-top: 10px;
}

.dashboard img {
    width: 30vw;
    height: 50vh;
    border-radius: 5px;
}
