{% extends 'base.html' %}
{% load static %}
{% block title %}Doctor Blog{% endblock %}
{% block body %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div class="alert alert-info" role="alert">
        {{message}}
    </div>
    {% endfor %}
</ul>
{% endif %}
<h1 class="heading">All Blog Post</h1>
{% for blog in blogs %}
<div class="listing list-group-item list-group-item-action">
    <h3>{{blog.title}}</h3>
    <p><b>Status: </b>{{blog.status|capfirst}}</p>
    <img src="{{ blog.image.url }}" class="blog_img" alt="Blog Picture">
    <p><b>Summary: </b>{{blog.summary|truncatewords:15}}</p>
    <a href="{% url 'view_blog' blog.id %}" class="btn btn-info">View</a>
</div>
<hr>
{% endfor %}
{% endblock %}