body .navbar {
    background-color: blueviolet;
    color: white;
}

body .nav-link {
    text-decoration: none;
    color: aliceblue;
}

.container {
    margin-left: 10%;
}

.dashboard {
    line-height: 3vw;
    margin-top: 10px;
}

body .dashboard_img {
    width: 25vw;
    height: 40vh;
    border-radius: 5px;
    margin-left: 20%;
}
