{% extends "base.html" %}
{% load static %}
{% block body %}
  <h2 class="heading">Patient Dashboard</h2>
  <div class="dashboard">
  <p>Welcome, {{ user.first_name }} {{ user.last_name }}!</p>
  {% if user.profile_picture %}
  <img src="{{ user.profile_picture.url }}" style="width: 100px; height: 100px;" alt="Profile Picture">
  {% endif %}
  <p><b>Email:</b> {{ user.email }}</p>
  <p><b>Address:</b> {{ user.address_line1 }}, {{ user.city }}, {{ user.state }} - {{ user.pincode }}</p>
  </div>
  <a href="{% url 'display_blog' %}" class="btn btn-primary">See All Post</a>
{% endblock %}