{% extends "base.html" %}
{% load static %}
{% block body %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div class="alert alert-info" role="alert">
        {{message}}
    </div>
    {% endfor %}
</ul>
{% endif %}
<h1 class="heading">Patient Dashboard</h1>
<div class="row my-5 ">
  <div class="col-md-6 h-75">
    <div class="list-group-item list-group-item-action text-center">
      <h5 class="dashboard">Welcome ,{{ user.first_name|capfirst }} {{ user.last_name }}! </h5>
      <p><b>Email:</b> {{ user.email }}</p>
      <p><b>Address:</b> {{ user.address_line1|capfirst }}, {{ user.city }}, {{ user.state }} - {{ user.pincode }}</p>
      <div class="btn my-2">
        <a href="{% url 'display_blog' %}" class="btn btn-info">See All Post</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <img src="{{ user.profile_picture.url }}" class="img-thumbnail" alt="Profile Picture" style="width: 25vw;height: 37vh;">
  </div>
</div>
{% endblock %}