{% extends "base.html" %}
{% load static %}
{% block body %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div class="alert alert-info" role="alert">
        {{message}}
    </div>
    {% endfor %}
</ul>
{% endif %}
 <h1 class="heading">Doctor Dashboard</h1>
  <div class="row my-5 ">
    <div class="col-md-6">
      <div class="list-group-item list-group-item-action text-center h-75">
      <h5 class="dashboard">Welcome ,{{ user.first_name|capfirst }} {{ user.last_name }}! </h5>
      <p><b>Email:</b> {{ user.email }}</p>
      <p><b>Address:</b> {{ user.address_line1|capfirst }}, {{ user.city }}, {{ user.state }} - {{ user.pincode }}</p>
      <div class="btn my-5">
      <a href="{% url 'add_blog' %}" class="btn btn-info">Add Post</a>
      <a href="{% url 'display_blog' %}" class="btn btn-info">See All Post</a>
      </div>
      </div>
    </div>
    <div class="col-md-6">
      <img src="{{ user.profile_picture.url }}" class="img-thumbnail h-75"  alt="Profile Picture">
    </div>
  </div>
{% endblock %}