{% extends "base.html" %}
{% load static %}
{% block body %}
  <h1>Doctor Dashboard</h1>
  <div class="dashboard">
  <h5>Welcome, {{ user.first_name|capfirst }} {{ user.last_name }}!</h5>
  {% if user.profile_picture %}
  <img src="{{ user.profile_picture.url }}"  alt="Profile Picture">
{% endif %}
  <p><b>Email:</b> {{ user.email }}</p>
  <p><b>Address:</b> {{ user.address_line1|capfirst }}, {{ user.city }}, {{ user.state }} - {{ user.pincode }}</p>
  <a href="{% url 'add_blog' %}" class="btn btn-primary">Add Post</a>
  <a href="{% url 'display_blog' %}" class="btn btn-primary">See All Post</a>
  </div>
{% endblock %}